<div class="container">
        <div class="row">
            <div class="col-md-4"><div class="well">
                <h3>点击排行</h3>
                <div class="list-group">
                <%
                    var client = null;
                    while(clients.length){
                        client = clients.pop();
                %>
                <li class="list-group-item">
                    <a href="/client/<%=client.id%>"><%=client.name%></a>
                     <span class="badge"><%=client.accessCount%></span>
                </li>
                    
                <%
                    }
                %>
                  
                </div>
                
            </div></div>

        </div>
</div>
<script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>




