<h3>留言提醒</h3>
<div class="list-group">
<%
    var message;
    while(messages.length){
        message = messages.pop();
%>
<li class="list-group-item">
    <a href="/client/<%=message.client.id%>"><%=message.client.name%></a>
    - 
    <%=message.title%>

    <span class="badge"><%=moment(message.createdAt).format("MM/DD/YYYY")%></span>
</li>
<%
    }
%>
</div>
<p>
    <a class="btn btn-primary" href="/message/find-from-dashboard?">
    所有留言
    </a>
</p>