<div class="panel-heading panel-heading-dashboard"><b>留言提醒</b>
</div>
<div class="panel-body">
                
<div style="margin-bottom: 5px;" class="list-group">
<%
    var message;
    while(messages.length){
        message = messages.shift();
%>
<li class="list-group-item">
    <a href="/client/<%=message.client.id%>"><%=message.client.name%></a>
    - 
    <%=message.title%>

    <span class="badge"><%=moment(message.createdAt).format("MM/DD/YYYY")%></span>
</li>
<%
    }
%>
</div>
<p>
    <a style="font-size: 12px;" class="right" href="/message/find-from-dashboard?">
    显示所有
    </a>
</p>