<h3>充值提醒</h3>
<div class="list-group">
<%
    var request;
    while(requests.length){
        request = requests.shift();
%>
<li class="list-group-item">
    <a href="/client/<%=request.client.id%>"><%=request.client.name%></a>
    - 
    金额: <%=request.topupValue%> 人民币

    <span class="badge"><%=moment(request.createdAt).format("MM/DD/YYYY")%></span>

</li>
<%
    }
%>
</div>
<p>
    <a class="btn btn-primary" href="/TopupRequest/find-from-dashboard">
    所有充值
    </a>
</p>