<div style="border-style: solid;border-color: #FFE301;background-color: #FFE301!important;" class="panel-heading"><b>充值提醒</b>
</div>
<div class="panel-body">
                
<div style="margin-bottom: 5px;" class="list-group">
<%
    var request;
    while(requests.length){
        request = requests.shift();
%>
<li class="list-group-item">
    <a href="/client/<%=request.client.id%>"><%=request.client.name%></a>
    - 
    金额: <%=request.topupValue%> 人民币

    <span class="badge"><%=moment(request.createdAt).format("MM/DD/YYYY")%></span>

</li>
<%
    }
%>
</div>
<p>
    <a style="font-size: 12px;" class="right" href="/TopupRequest/find-from-dashboard">
    显示所有
    </a>
</p>