
      <div class="container content">
        <div class="row">
            <div class="panel panel-default full-width">
                <ol class="breadcrumb panel-heading">
                  <li>资料管理</li>
                  <li>获奖人－请选广告</li>
                </ol>  

                <div class="panel-body">
                <table class="table table-striped" id="table">
                    <thead>
                    <tr><th>广告商户</th><th>广告题目</th><th></th></tr>
                    </thead>
                    <tbody>
                        <%
                var row;
                while (resultArr.length) {
                  row = resultArr.pop();
                %>
                        <tr><td><%=row.client.name%></td></td><td><%=row.title%></td><td><a href="/data/prize-winner/<%=row.id%>" class="btn btn-default">奖项统计</a></td></tr>
                <%
                }
                %>
                    
                    </tbody>
                    
                
                </table>
                </div>
                
            </div>
        </div>
        
      </div>

    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script>
        $("#table").DataTable({"language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Chinese.json"
            }});
    </script>