<div class="container content">
    <div class="row">
            <div class="panel panel-dashboard full-width" >
                <ol class="breadcrumb panel-heading panel-heading-cbj">
                          <li><a href='/user_client'>商家账户</a></li>
                            <li>账户编辑</li>
                        </ol>
                <div class="panel-body">
                    <form class="form-horizontal" id="form" name="form" action="/user_client/<%=result.id%>" method="post" onSubmit="return onSubmit()">
                    <div class="form-group">
                    <label class="control-label col-sm-2" for="username">用户名 <span class="mandatory">*</span></label>
                    <div class="col-sm-10">
                    <input type="text" id="username" name="username" class="form-control" value="<%=result.username%>">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2" for="password">密码 </label>
                    <div class="col-sm-10">
                    <input type="text" id="password" name="password" class="form-control" value=""><label>更改密码</label>
                    <input type="checkbox" name="changePassword" value="change">
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2" for="email">电子邮箱 <span class="mandatory">*</span></label>
                    <div class="col-sm-10">
                    <input type="text" id="email" name="email" class="form-control" value="<%=result.email%>">
                    </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="更新" />
              <input type="button" class="btn btn-default" onClick="javascript:window.history.back()" value="取消"/>
                    </form>
                </div>
            </div>
    </div>

</div>
<script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

<script>
    function onSubmit(){
        var username = $("#username").val();
        var password = $("#password").val();
        var email = $("#email").val();
        var message = [];
        if($.trim(username)==""||$.trim(email)=="")
            message.push("输入不完整");
        if(message.length){
            alert(message.join("\n"));
            return false;
        }
        return true;

    }

</script>
