
    
      <div class="container content">
        <div class="row">
            <div class="panel panel-default full-width">
                <ol class="breadcrumb panel-heading">
                  <li>用户管理</li>
                  <li>商家账户</li>
                </ol>  
                <div class="panel-body">
                    <button onClick="javascript: window.location.href='/user_client/client'" class="btn btn-default right">创建</button>
                    
                </div>
                <div class="panel-body">

                <form name="form">
                <table class="table table-striped" id="table">
                    <thead>
                    <tr><th>商家用户帐户</th><th>商家名</th><th>删除</th></tr>
                    </thead>
                    <tbody>
                <%
                var row;
                while (resultArr.length) {
                  row = resultArr.pop();
                %>
                    <tr><td><a href="/user_client/<%=row.id%>"><%=row.username%></a></td>
                        <td>
                        <%
                            var clientName = "";
                            if(row.client!=null){
                                clientName = row.client.name;
                            }
                        %>
                        <%=clientName%></td>
                        <td><a class="btn btn-danger" onClick="javascript: destroy('<%=row.id%>');">删除</a></td></tr>
                <%
                }
                %>
                    </tbody>
                </table>
                </form>
                </div>

            </div>
        </div>
        
      </div>
    


    <script>
        function destroy(rowId){
            document.form.action = "/user_client/destroy/"+rowId;
            document.form.method = "delete";
            document.form.submit();
        }
    </script>
      
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script>
        $("#table").DataTable({"language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Chinese.json"
            }});
    </script>

